# Pseudo terminal for colab
terminal.ipynb

# Temporary things Chris is working with
dev/*

# Raw data files are actually too big for Git without LFS
data/raw/nhanes*

ds1_nhanes/__pycache__/
*.gsheets

# R things
.Rproj.user
.Rhistory
.Rdata
renv/*
*.Rproj

# Docker things
README.Docker.md
